<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ePlace</servlet-name>
        <servlet-class>ePlace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportController</servlet-name>
        <servlet-class>controller.reportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportServlet</servlet-name>
        <servlet-class>reportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>dashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userHistoryServlet</servlet-name>
        <servlet-class>userHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editResidentServlet</servlet-name>
        <servlet-class>editResidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPlaceServlet</servlet-name>
        <servlet-class>editPlaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>residentAdminServlet</servlet-name>
        <servlet-class>residentAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crimeAdminServlet</servlet-name>
        <servlet-class>crimeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCrime</servlet-name>
        <servlet-class>editCrime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeSubmitServlet</servlet-name>
        <servlet-class>placeSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeController</servlet-name>
        <servlet-class>controller.placeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeAdminServlet</servlet-name>
        <servlet-class>placeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePlace</servlet-name>
        <servlet-class>deletePlace</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCrime</servlet-name>
        <servlet-class>deleteCrime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteResident</servlet-name>
        <servlet-class>deleteResident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eCrime</servlet-name>
        <servlet-class>eCrime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eResident</servlet-name>
        <servlet-class>eResident</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportController</servlet-name>
        <url-pattern>/reportController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportServlet</servlet-name>
        <url-pattern>/reportServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crimeAdminServlet</servlet-name>
        <url-pattern>/crimeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userHistoryServlet</servlet-name>
        <url-pattern>/userHistoryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeController</servlet-name>
        <url-pattern>/placeController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeSubmitServlet</servlet-name>
        <url-pattern>/placeSubmitServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editResidentServlet</servlet-name>
        <url-pattern>/editResidentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>residentAdminServlet</servlet-name>
        <url-pattern>/residentAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCrime</servlet-name>
        <url-pattern>/editCrime.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeAdminServlet</servlet-name>
        <url-pattern>/placeAdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPlaceServlet</servlet-name>
        <url-pattern>/editPlaceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePlace</servlet-name>
        <url-pattern>/deletePlace.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCrime</servlet-name>
        <url-pattern>/deleteCrime.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteResident</servlet-name>
        <url-pattern>/deleteResident.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eCrime</servlet-name>
        <url-pattern>/eCrime.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ePlace</servlet-name>
        <url-pattern>/ePlace.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eResident</servlet-name>
        <url-pattern>/eResident.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>


